body {
    margin: 0px;
    text-align: center;
    color: #776d8a;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #66BFBF;
} 
h2 {
    font-family: 'Neuton', serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: bold;
}
h3 {
    font-family: 'Neuton', serif;
    color: #11999E;
    font-weight: normal;
}
p {
    font-family: 'Neuton', serif;
    line-height: 2;
}
.intro {
    width: 35%;
    margin: 5px auto;
    text-align: justify;    
}
.skill-p {
    width: 90%;
}
.mic-p {
    width: 90%;
}
.touch-p {
    margin-bottom: 50px;
}

hr {  
    width: 5%;
    height: 0px;
    border-color: #dbe3e5;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;  
    margin: 100px auto 100px ;
}


.pro {
    text-decoration: underline;
}
.top-cloud {
    position: absolute;
    right: 450px;
    top: 80px;
}
.center-cloud {
    position: absolute;
    left: 450px;
}
.mountain {
    position: relative;
    margin: 50px 0 0;
}
.mypic {
    width: 200px;
    height:200px;
    margin: 100px 0 30px;
}
.comp {
    width: 25%;
    height:25%;
    float: left;
    padding-right: 35px;
    margin-left: 20px;
}
.singing {
    width: 250px;
    height:250px;
    float: right;
    padding-left: 35px;
}

div.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
  
}
div.middle-container {
    background-color: #f1f9f9   ;
   }
.profile {
   
    }
 
.skill-row {
    width: 50%;
    margin: 100px auto 200px;
    text-align: left;
}
.skill-row2 {
    width: 50%;
    margin: 200px auto 200px;
    text-align: right;
   
}
.contact-me {
    margin-bottom: 0;
    text-decoration: none;
    padding-bottom: 100px;
}


div.bottom-container {
   background-color: #51dacf;
   padding: 50px 0 20px;
}

a {
    font-size: 1.2rem;
    margin: 10px 20px;
    font-family: 'Neuton', serif;
    color: #41aaa8;
    text-decoration: none;  
}
a:hover {
    color: #edb5f5;
}
.footer {
    color: #E4F9F5;
    font-size: 0.9rem;
}
.btn {
    background: #51dacf;;
    background-image: -webkit-linear-gradient(top, #51dacf;, #51dacf;);
    background-image: -moz-linear-gradient(top, #51dacf;, #51dacf;);
    background-image: -ms-linear-gradient(top, #51dacf;, #51dacf;);
    background-image: -o-linear-gradient(top, #51dacf;, #51dacf;);
    background-image: linear-gradient(to bottom, #51dacf;, #51dacf;);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    text-shadow: 1px 1px 3px #b2fcff;;
    font-family: 'Neuton', serif;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #61f2f5;;
    background-image: -webkit-linear-gradient(top, #61f2f5;, #61f2f5;);
    background-image: -moz-linear-gradient(top, #61f2f5;, #61f2f5;);
    background-image: -ms-linear-gradient(top, #61f2f5;, #61f2f5;);
    background-image: -o-linear-gradient(top, #61f2f5;, #61f2f5;);
    background-image: linear-gradient(to bottom, #61f2f5;, #61f2f5;);
    text-decoration: none;
  }
